<div class="main-content1 border">
    <div class="container">
        <angular2-multiselect [data]="dropdownRowsList" [(ngModel)]="selectedRowsItems" 
        [settings]="dropdownRowsSettings" 
        (onSelect)="onItemRowsSelect($event)" 
        (onDeSelect)="OnItemRowsDeSelect($event)"
        [selectedItems]="selectedRowsItems"
        (onSelectAll)="onRowsSelectAll($event)"
        (onDeSelectAll)="onRowsDeSelectAll($event)"></angular2-multiselect>

        <angular2-multiselect [data]="dropdownColumnsList" [(ngModel)]="selectedColumnsItems" 
        [settings]="dropdownColumnsSettings" 
        (onSelect)="onItemColumnsSelect($event)" 
        (onDeSelect)="OnItemColumnsDeSelect($event)"
        [selectedItems]="selectedColumnsItems"
        (onSelectAll)="onColumnsSelectAll($event)"
        (onDeSelectAll)="onColumnsDeSelectAll($event)"></angular2-multiselect>
    </div>
    <app-graph-draw [selectedColumnsItems] = "selectedColumnsItems" [selectedRowsItems] = "selectedRowsItems" ></app-graph-draw>
</div>
